### Exercise 1.
#### Creating vectors/factors and dataframes

We are performing RNA-Seq on cancer samples being treated with three different types of treatment (A, B, and P). You have 12 samples total, with 4 replicates per treatment. Write the R code you would use to construct your metadata table as described below.

- Create the vectors/factors for each column (Hint: you can type out each vector/factor, or if you want the process go faster try exploring the rep() function).
- Put them together into a dataframe called meta.
- Use the rownames() function to assign row names to the dataframe (Hint: you can type out the row names as a vector, or if you want the process go faster try exploring the paste() function).

Your finished metadata table should have information for the variables sex, stage, treatment, and myc levels

In [1]:
library(dplyr)

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [2]:
meta <- data.frame(
    sex = c("M", "F", "M", "F", "M", "F", "M", "F", "M", "F", "M", "F"),
    stage = c("I", "II", "II", "I", "II", "II", "I", "II", "II", "I", "II", "II"),
    treatment = c("A", "A", "A", "A", "B", "B", "B", "B", "P", "P", "P", "P"),
    myc = c(2343, 457, 4593, 9035, 3450, 3524, 958, 1053, 8674, 3424, 463, 5105),
    stringsAsFactors = FALSE
)

In [3]:
meta

   sex stage treatment myc
1  M   I     A         2343
2  F   II    A          457
3  M   II    A         4593
4  F   I     A         9035
5  M   II    B         3450
6  F   II    B         3524
7  M   I     B          958
8  F   II    B         1053
9  M   II    P         8674
10 F   I     P         3424
11 M   II    P          463
12 F   II    P         5105

In [4]:
rownames(meta) <- c("sample1", "sample2", "sample3", "sample4", "sample5", "sample6",
                   "sample7", "sample8", "sample9", "sample10", "sample11", "sample12")

meta

         sex stage treatment myc
sample1  M   I     A         2343
sample2  F   II    A          457
sample3  M   II    A         4593
sample4  F   I     A         9035
sample5  M   II    B         3450
sample6  F   II    B         3524
sample7  M   I     B          958
sample8  F   II    B         1053
sample9  M   II    P         8674
sample10 F   I     P         3424
sample11 M   II    P          463
sample12 F   II    P         5105

### Exercise 2.
#### Subsetting vectors/factors and dataframes
Using the meta data frame from question #1, write out the R code you would use to perform the following operations (questions DO NOT build upon each other):

- return only the treatment and sex columns using []:

In [5]:
result <- meta[,c(1,3)]
result

         sex treatment
sample1  M   A
sample2  F   A
sample3  M   A
sample4  F   A
sample5  M   B
sample6  F   B
sample7  M   B
sample8  F   B
sample9  M   P
sample10 F   P
sample11 M   P
sample12 F   P

- return the treatment values for samples 5, 7, 9, and 10 using []:

In [6]:
result2 <- meta[c(5, 7, 9, 10),]
result2

         sex stage treatment myc
sample5  M   II    B         3450
sample7  M   I     B          958
sample9  M   II    P         8674
sample10 F   I     P         3424

- use subset() to return all data for those samples receiving treatment P:

In [7]:
treatP <- subset(meta, treatment == "P", c(treatment))
treatP

         treatment
sample9  P
sample10 P
sample11 P
sample12 P

- use filter()/select()to return only the stage and treatment columns for those samples with myc > 5000:

In [8]:
filter(meta, myc > 5000) %>% select(stage, treatment)

  stage treatment
1 I     A
2 II    P
3 II    P

- remove the treatment column from the dataset using []:

In [9]:
result3 <- meta[,c(-3)]
result3

         sex stage myc
sample1  M   I     2343
sample2  F   II     457
sample3  M   II    4593
sample4  F   I     9035
sample5  M   II    3450
sample6  F   II    3524
sample7  M   I      958
sample8  F   II    1053
sample9  M   II    8674
sample10 F   I     3424
sample11 M   II     463
sample12 F   II    5105

- remove samples 7, 8 and 9 from the dataset using []:

In [10]:
result4 <- meta[c(7:9),]
result4

        sex stage treatment myc
sample7 M   I     B          958
sample8 F   II    B         1053
sample9 M   II    P         8674

- keep only samples 1-6 using []:

In [11]:
result5 <- meta[c(1:6),]
result5

        sex stage treatment myc
sample1 M   I     A         2343
sample2 F   II    A          457
sample3 M   II    A         4593
sample4 F   I     A         9035
sample5 M   II    B         3450
sample6 F   II    B         3524

- add a column called pre_treatment to the beginning of the dataframe with the values T, F, F, F, T, T, F, T, F, F, T, T (Hint: use cbind()):

In [12]:
pre_treatment <- c(T, F, F, F, T, T, F, T, F, F, T, T)
meta_pre <- cbind(meta, pre_treatment)
meta_pre

         sex stage treatment myc  pre_treatment
sample1  M   I     A         2343  TRUE
sample2  F   II    A          457 FALSE
sample3  M   II    A         4593 FALSE
sample4  F   I     A         9035 FALSE
sample5  M   II    B         3450  TRUE
sample6  F   II    B         3524  TRUE
sample7  M   I     B          958 FALSE
sample8  F   II    B         1053  TRUE
sample9  M   II    P         8674 FALSE
sample10 F   I     P         3424 FALSE
sample11 M   II    P          463  TRUE
sample12 F   II    P         5105  TRUE

- change the names of the columns to: “A”, “B”, “C”, “D”:

In [13]:
colnames(meta) <- c("A", "B", "C", "D")
meta

         A B  C D
sample1  M I  A 2343
sample2  F II A  457
sample3  M II A 4593
sample4  F I  A 9035
sample5  M II B 3450
sample6  F II B 3524
sample7  M I  B  958
sample8  F II B 1053
sample9  M II P 8674
sample10 F I  P 3424
sample11 M II P  463
sample12 F II P 5105